.wrapper {
  width: 100%;
  height: 50px;
  border-bottom: solid 1px #dde;
  display: flex;
}

.input {
  flex: 1;
  border: none;
  text-indent: 10px;
}

.button {
  flex: 0 0 100px;
  background: white;
  border: none;
  border-left: solid 1px #dde;
  text-transform: uppercase;
}
